__pycache__
pretrained_models
pretrained_models/
*.npz
dit_s3cache/fid/gen_image/
dit_s3cache/fid/classify_image_graph_def.pb
dit_s3cache/fid/fid_sensitivity_results_merged_B.json
dit_s3cache/fid/fid_sensitivity_results_merged_A.json
dit_s3cache/stage0/stage0_output/
dit_s3cache/stage0/stage0_figures/
dit_s3cache/stage1/stage1_figures/
dit_s3cache/stage1/stage1_output/sweep_*/